<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>PsycoLogic. Группы</title>
</head>
<body>
    <div class='app'>
        <div class='footer footer-main'>
            <div class='footer title'>
                <p class='footer title'>PsycoLogic</p>
            </div>
            <div class='footer menu'>
                <ul class='footer menu'>
                    <li class='footer menu'><a href="/groups">Группы</a></li>
                    <li class='footer menu'><a href="/tests">Тесты</a></li>
                    <!-- <li class='menu'</li> -->
                </ul>
            </div>
        </div>
        <div class="main">
            <p class="main header">Тест "{{ test[1] }}"</h1>
            <a href="/tests/{{ test[0] }}/add_form">Добавить форму ответов</a>
            <div class="main analysis">

            </div>
        </div>
    </div>
</body>
</html>